{% extends 'blog/basic.html'%}
{% block body %}
<div class="container">
  <div class="row mb-2 mt-4">
    {% for item in allpost %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{ item.category }}</strong>
          <h3 class="mb-0">{{ item.title}}</h3>
          <div class="mb-1 text-muted"> {{ item.blog_pub_date }}</div>
          <p class="card-text mb-auto">{{ item.cheading0|slice:'0:90'  }}</p>
          <a href="blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>


{% endblock body %}